body {
  font-family: Tahoma, sans-serif;
  background-color: black;
  background-attachment: fixed;
  background-position: center center;
  background-image: url("./images/nuke.png");
  background-repeat: no-repeat;
}
.center {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}
